<html>
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ msg }}</p>
        <!-- for -->
        {% for number in numbers %}
            <p>{{ number }}</p>
        {% endfor %}

        {% for item in items %}
            {% if item == 'apple' %}
                <p>果物：{{ item }}</p>
            {% else %}
                <p>野菜：{{ item }}</p>
            {% endif %}
        {% endfor %}
        <a href="{% url goto %}">{{goto}}</a>
    </body>
</html>